<div ng-show="hover" class="ub-fade" style="animation-duration:250ms;" ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave()">
    <div style="position:fixed;text-align:center;bottom:15vh;width:100%;height:10%;z-index:1000;">
      <div class="ub-slide-controls">
        <a href="" ng-click="firstFn()" title="First"><i class="glyphicon glyphicon-step-backward"></i></a>
        <a href="" ng-click="previousFn()" title="Previous"><i class="glyphicon glyphicon-backward"></i></a>
        <a ng-show="paused" href="" ng-click="playFn()" title="Play"><i class="glyphicon glyphicon-play"></i></a>
        <a ng-show="!paused" href="" ng-click="pauseFn()" title="Pause"><i class="glyphicon glyphicon-pause"></i></a>
        <a href="" ng-click="nextFn()" title="Next"><i class="glyphicon glyphicon-forward"></i></a>
        <a href="" ng-click="lastFn()" title="Last"><i class="glyphicon glyphicon-step-forward"></i></a>
        <a href="" ng-click="restartFn()" title="Restart"><i class="glyphicon glyphicon-repeat"></i></a>
        <uib-progressbar ng-show="!paused" class="progress active" animate="false" max="slideTime" value="count" style="height:3px;"></uib-progressbar>
      </div>
    </div>
</div>