body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:white;
}
.container{

    background-color:white;
    position:relative;
    padding:0;
    margin: 0;
    height: 100%;

}
.hidden{
    display:none;
}
.noAnimate{
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
/* logo */


@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: 0 100vh; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: 0 100vh; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: 0 100vh; }
}
.movingBackground{

    position:relative;
    width:100%;
    height:100vh;
    src: url(../images/background2.png) repeat-y center center fixed;
    background: url(../images/background2.png) repeat-y center center fixed;
    background-size: cover;
    animation: animatedBackground 20s linear infinite;
    -moz-animation: animatedBackground 20s linear infinite;
    -webkit-animation: animatedBackground 20s linear infinite;
    -ms-animation: animatedBackground 20s linear infinite;
    -o-animation: animatedBackground 20s linear infinite;
}

.logo{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width:0px;
    height:0px;
    padding: 132px 500px 131px 500px;
    background: url(../images/EC-regular-1000x263.png) no-repeat center center;
}

/*News Slide */
.news{
  position:relative;
  width:100%;
  height:100vh;
  background-color: white;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-align-items:center;
  align-items:center;
}
.centerBox{
  width:90%;
  height:80%;
  background-color: yellow;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
}
.newsSection{
  height:100%;
  width:calc(100% / 3);
  background-color: green;
}
.twitter{
  background-color: pink;
}
.instagram{
  background-color: teal;
}
.washingtonPost{
  background-color: aqua;
}


.innerTop{
  color:black;
  margin-left:auto;
  margin-right:auto;
  height:20%;
  background-color: white;
  border-bottom-style: solid;
  border-left-style:solid;
  border-width: 2px;
  border-color: #E0E0E0;
  overflow: hidden;
}
.innerBottom{
  color:black;
  border-left-style:solid;
  border-width: 2px;
  border-color: #E0E0E0;
  margin-left:auto;
  margin-right:auto;
  height:80%;
  background-color: white;
}
.leftSide{
  border-left-style:none;
}

.logoImg{
  display:block;
  margin:auto;
}
.washingtonPostArticleTitle{
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
  margin:0;
}
.washingtonPostArticleContent{
  padding: 5px;
  margin-top:10px;
}

.washintonPostArticleAuthor{
  font-weight: bold;
  padding: 5px;
  width:200px;
  display:inline-block;
}
.washintonPostArticleDate{
  padding: 5px;
 width:200px;
 display:inline-block;
}

/* liveVideoOverlay */
@keyframes webcamBlur {
    0% {-webkit-filter:grayscale(0) blur(0px) brightness(1);filter:grayscale(0) blur(0px) brightness(1);}
    100% {-webkit-filter:grayscale(.8) blur(15px) brightness(.75);filter:grayscale(.8) blur(15px) brightness(.75);}
}
@-webkit-keyframes webcamBlur {
    0% {-webkit-filter:grayscale(0) blur(0px) brightness(1);filter:grayscale(0) blur(0px) brightness(1);}
    100% {-webkit-filter:grayscale(.8) blur(15px) brightness(.75);filter:grayscale(.8) blur(15px) brightness(.75);}
}
@-ms-keyframes webcamBlur {
    0% {filter:grayscale(0) blur(0px) brightness(1);}
    100% {filter:grayscale(.8) blur(15px) brightness(.75);}
}
/*overlay animation fades from opacity from 0 to 1*/
/*this animation is necessary since the box is centered using display table and cannot be display none*/
@keyframes overlay {
    0% { opacity:0;}
    100% { opacity:1;}
}
@-webkit-keyframes overlay {
    0% { opacity:0;}
    100% { opacity:1;}
}
@-ms-keyframes overlay {
    0% { opacity:0;}
    100% { opacity:1;}
}


#videoElement{
        /*animation-name: webcamBlur;*/
    -webkit-animation-duration: 5s;
    animation-duration: 5s; /* webcam blur duration */
    -webkit-animation-delay: 2s;
    animation-delay: 2s; /* webcam blur delay */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position:relative;
    width:100%;
    -webkit-transition: all 2s;

}



.box{
    /*animation-name: overlay;*/
    -webkit-animation-duration: 5s;
    animation-duration: 5s; /* box fade in duration */
    -webkit-animation-delay: 4s;
    animation-delay: 4s; /* box fade in delay */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity:0;
    display:table;
    color:#FAFCFA;
    min-height:300px;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height:50%;
    width:90%;
    border-top: 2px solid #FAFCFA;
    border-right: 2px solid #FAFCFA;
    border-left: 2px solid #FAFCFA;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    align-items:center;

}
.boxBottomLeft{
    position:absolute;
    height:0;
    width:45%;
    border:1px solid #FAFCFA;
    left:0px;
    bottom:0px;
    display:inline-block;
}
.boxBottomRight{
    position:absolute;
    height:0;
    width:45%;
    border:1px solid #FAFCFA;
    right:0px;
    bottom:0px;
    display:inline-block;

}
#star{
    position:absolute;
    background: url(../images/star.png);
    color:white;
    display:inline-block;
    left:50%;
    bottom:-10px;
    padding: 12px 14px 16px 14px;
    margin-left:-15px;
}
.box p {
    display: table-cell;

    text-align:center;
    vertical-align:middle;
    font-family: 'Slabo 27px', serif;
    font-size:5em;
    letter-spacing:2px;
    line-height:130%;
    margin-left:auto;
    margin-right:auto;
}







/* weather */
.weather{
    visibility: hidden;
    display:table;
    color:#FAFCFA;
    min-height:300px;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height:50%;
    width:90%;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    align-items:center;
}
.weather p {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    font-family: 'Slabo 27px', serif;
    font-size:5em;
    letter-spacing:2px;
    line-height:130%;
    margin-left:auto;
    margin-right:auto;
}


/* Fourpanel */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}


.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #F06060;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #FA987D;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #72CCA7;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #10A296;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.bl-box h2 {
    -webkit-transform:scale(1,1.5);
    transform:scale(1,1.5);
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 2.5em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {


	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}



.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e005";
}

.bl-content,
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}


/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}


/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #EE4444;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #F98262;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #4BBE8E;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #0D8278;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	transition: opacity 0s linear;
}

.bl-box h2 {
	transition: all 0.2s ease-in-out;
}



.bl-content,
.bl-icon-close {
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}
