<toaster-container></toaster-container>
<ub-bio-panels data="main.currentSlide"></ub-bio-panels>
<ub-logo data="main.currentSlide"></ub-logo>
<ub-picture data="main.currentSlide"></ub-picture>
<ub-live-video-overlay data="main.currentSlide"></ub-live-video-overlay>
<ub-sms data="main.currentSlide"></ub-sms>
<ub-static-video-overlay data="main.currentSlide"></ub-static-video-overlay>
<ub-weather data="main.currentSlide"></ub-weather>
<ub-transition data="main.currentSlide"></ub-transition>
<ub-footer data="main.currentSlide" logo="main.logo"></ub-footer>